* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #FFDFDE;
    color: #6A7BA2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'DM Serif Text', serif;
}
header h1 {
    font-size: 3em;
}
header p {
    font-size: 1.5em;
    margin: 15px;
}

.questions {
    font-style: italic;
    font-size: 1.5em;
} 
.question {
    margin-top: 10px;
}
input {
    margin-right: 10px;
}
label {
    margin: 10px;
    font-size: .75em;
    font-style: normal;
}

.submit button {
    min-width: 5vw;
    height: 5vh;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid grey;
}
.submit button:hover {
    background: #6A7BA2;
    color: #FFDFDE;
    cursor: pointer;
    box-shadow: 2px 2px 5px grey;
    border: 1px solid grey;
}